#404 Error
ErrorDocument 404 http://localhost/coder/404.php

RewriteEngine On

#Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

#SEO Friendly URL
RewriteRule ^category/([a-zA-Z0-9-]+) category.php?slug=$1
RewriteRule ^post/([a-zA-Z0-9-]+) post.php?slug=$1
RewriteRule ^search/([a-zA-Z0-9-]+) search.php?keywords=$1

RewriteRule ^projects/category/([a-zA-Z0-9-]+) projects/category.php?slug=$1
RewriteRule ^projects/post/([a-zA-Z0-9-]+) projects/post.php?slug=$1
RewriteRule ^projects/search/([a-zA-Z0-9-]+) projects/search.php?keywords=$1

RewriteRule ^user-profile/([a-zA-Z0-9-]+) user-profile.php?action=$1

#http://localhost/coder/login?action=user-registration

RewriteRule ^user/([a-zA-Z0-9-]+) login.php?action=$1





#Removing index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ index.php/$1 [L]

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]
